@import "normalise";
@import "container";

$Montserrat: "Montserrat", sans-serif;
$Raleway: "Raleway", sans-serif;
@mixin GeneralTitle {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}
@mixin GeneralText {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &::before {
        box-sizing: border-box;
    }
    &::after {
        box-sizing: border-box;
    }
}

body {
    font-family: $Montserrat;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $Raleway;
}

.header {
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0 380px 0;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 285px 0;
    }

    &__logo {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__top_title {
        font-size: 34px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.04em;
        color: #ffffff;
    }

    &__label,
    &__input {
        display: none;
    }

    &__input:checked ~ .header__list {
        visibility: visible;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    &__list-item_link {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #ffffff;
        margin: 0 30px 0 0;
        text-decoration: none;
    }

    &__list-item_link:hover {
        color: #c7b299;
    }

    &__icon {
        list-style-type: none;
        display: flex;

        &-list:first-child {
            margin: 0 30px 0 0;
        }
    }

    &__bottom {
        text-align: center;
    }

    &__title {
        font-size: 36px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        margin: 0 0 15px 0;
    }

    &__subtitle {
        font-size: 52px;
        line-height: 1.2;
        font-weight: 800;
        color: #ffffff;
        margin: 0 0 20px 0;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #ffffff;
        margin: 0 0 50px 0;
    }
}

.button {
    font-family: $Raleway;
    margin: 0 auto;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    line-height: 11px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #998675;
    border-radius: 3px;
    padding: 21px 38px;
    text-decoration: none;
    transition: all 0.5s;
}

.button:hover {
    color: #998675;
    background-color: #ffffff;
}

.about {
    padding: 80px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__card:hover .about__svg {
        fill: #c7b299;
    }

    &__card:hover .about__title {
        color: #c7b299;
    }

    &__card:hover .about__svg_line {
        fill: #c7b299;
    }

    &__svg {
        margin: 0 0 30px 0;
        fill: #555555;
    }

    &__title {
        font-size: 22px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin: 0 0 20px 0;
    }

    &__text {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #8c8c8c;
        margin: 0 0 30px 0;
    }

    &__svg_line {
        fill: #f1eee9;
    }
}

.idea {
    padding: 80px 0;
    background-color: #fbfaf8;
    text-align: center;

    &__wrapper {
        min-height: 700px;
        background-image: url(../img/about-3.png), url(../img/about-2.png), url(../img/about-1.png);
        background-repeat: no-repeat;
        background-position: bottom center, bottom right, bottom left;
        background-size: 62%;
    }

    &__title {
        @include GeneralTitle;
        margin: 0 0 25px 0;
    }

    &__text {
        @include GeneralText;
        width: 70%;
        margin: auto;
    }
}

.add {
    background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    padding: 48px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 28px;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
    }

    &__span {
        color: #c7b299;
    }

    &__text {
        @include GeneralText();
    }

    &__button {
        margin: 0;
        line-height: 18px;
    }
}

.project {
    padding: 80px 0;
    text-align: center;

    &__title {
        @include GeneralTitle;
        margin: 0 0 25px 0;
    }

    &__text {
        @include GeneralText;
        width: 70%;
        margin: auto auto 40px auto;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    &__list-link {
        display: block;
        font-size: 14px;
        line-height: 21px;
        font-weight: 300;
        color: #8c8c8c;
        text-decoration: none;
        padding: 11px 27px;
        background-color: rgba(17, 17, 17, 0);
        border: 1px solid #ebebeb;
        border-radius: 3px;
        margin: 0 10px 40px 0;
        transition: all 0.5s;
    }

    &__list-link:hover {
        background-color: #998675;
        color: #ffffff;
    }

    &__folio {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__card {
        width: 32%;
        margin: 0 0 30px 0;
        text-align: left;
        background-color: #fbfaf8;
        position: relative;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__figcaption {
        padding: 30px 10px 27px 28px;
        position: relative;
    }

    &__figcaption::before {
        content: "";
        border: 20px solid transparent;
        border-bottom: 10px solid #fbfaf8;
        position: absolute;
        top: -30px;
        left: 14px;
    }

    &__card_title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #c7b299;
        margin: 0 0 15px 0;
    }

    &__card_text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #d1d1d1;
    }

    &__link-btn,
    &__search-btn {
        width: 26px;
        height: 26px;
        display: none;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 29%;
    }

    &__link-btn {
        background-image: url(../img/project__link-btn.svg);
        left: 38%;
    }

    &__search-btn {
        background-image: url(../img/project__search-btn.svg);
        left: 54%;
    }

    &__button {
        border: 1px solid #998675;
    }

    &__card:hover .project__link-btn {
        display: block;
    }

    &__card:hover .project__search-btn {
        display: block;
    }

    &__card:hover .project__img {
        filter: brightness(50%);
    }

    &__card:hover .project__figcaption {
        background-color: #362f2d;
    }

    &__card:hover .project__card_title {
        color: #ffffff;
    }

    &__card:hover .project__card_text {
        color: #c7b299;
    }

    &__card:hover .project__figcaption::before {
        border-bottom: 10px solid #362f2d;
    }
}

.video {
    background-image: url(../img/video_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 210px 0;
    text-align: center;

    &__link-img {
        margin: 0 auto 45px auto;
    }

    &__title {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        margin: 0 0 30px 0;
    }

    &__text {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #ffffff;
        margin: 0 auto 40px auto;
        width: 50%;
    }

    &__text_time {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #c7b299;
    }
}

.mobile {
    padding: 80px 0 0 0;
    background-color: #fbfaf8;

    &__inner {
        padding: 0 30px;
        background-image: url(../img/mobile_img.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        padding: 116px 0 183px 454px;
    }

    &__title {
        @include GeneralTitle();
        margin: 0 0 40px 0;
    }

    &__text {
        width: 95%;
        @include GeneralText();
        margin: 0 0 45px 0;
    }

    &__list {
        @include GeneralText();
        list-style-type: none;
    }

    &__list-item {
        line-height: 32px;
        margin-left: 100px;
        position: relative;
    }

    &__list-item::before {
        position: absolute;
        content: "";
        background-image: url(../img/list-item-before.png);
        width: 21px;
        height: 21px;
        top: 4px;
        left: -54px;
    }
}

.info {
    background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    padding: 70px 0 60px 0;
    text-align: center;

    &__inner {
        display: flex;
        justify-content: space-around;
        padding: 0px 120px 0 120px;
    }

    &__svg_icon {
        fill: #c7b299;
        margin: 0 0 30px 0;
    }

    &__figure {
        font-size: 48px;
        line-height: 36px;
        font-weight: 200;
        color: #ffffff;
        margin: 0 0 20px 0;
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        text-transform: uppercase;
        color: #c7b299;
        margin: 0 0 30px 0;
    }

    &__svg_line {
        fill: #ffffff;
    }
}

.posts {
    text-align: center;
    padding: 80px 0 140px 0;

    &__title {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin: 0 0 30px 0;
    }

    &__text {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin: 0 0 40px 0;
    }

    &__card {
        background-color: rgba(119, 119, 119, 0);
        border: 1px solid #f8f8f8;
        text-align: left;
        width: 32%;
        position: relative;
        transition: all 0.5s;
    }

    &__card:hover {
        background-color: #362f2d;
    }

    &__card:hover .posts__img {
        filter: brightness(40%);
    }

    &__card:hover .posts__card-title,
    .posts__link {
        color: #c7b299;
    }

    &__card:hover .posts__card-text {
        color: #ffffff;
    }

    &__card:hover .posts__card-date {
        background-color: #c7b299;
    }

    &__card:hover .posts__card-month {
        background-color: #a48d72;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        display: block;
        width: 100%;
        transition: all 0.5s;
    }

    &__figcaption {
        padding: 30px;
    }

    &__card-title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #555555;
        margin: 0 0 20px 0;
        transition: all 0.5s;
    }

    &__card-text {
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        color: #8c8c8c;
        margin: 0 0 30px 0;
        transition: all 0.5s;
    }

    &__link {
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #c7b299;
        position: relative;
        transition: all 0.5s;
    }

    &__link::after {
        content: "";
        border: 4px solid transparent;
        border-left: 4px solid #c7b299;
        position: absolute;
        top: 5px;
        right: -16px;
        transition: all 0.5s;
    }

    &__card-date {
        width: 50px;
        position: absolute;
        font-size: 24px;
        line-height: 16px;
        font-weight: 300;
        color: #ffffff;
        background-color: #363636;
        border-radius: 3px 3px 0px 0px;
        padding: 10px;
        top: 20px;
        left: 20px;
        transition: all 0.5s;
    }

    &__card-month {
        width: 50px;
        position: absolute;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
        color: #ffffff;
        background-color: #252525;
        border-radius: 0px 0px 3px 3px;
        padding: 7px 13px;
        top: 55px;
        left: 20px;
        transition: all 0.5s;
    }
}

.sponsors {
    background-image: url(../img/sponsors-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 140px 0;

    &__inner {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.footer-top {
    background-color: #191919;
    padding: 80px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;

    &__inner {
        display: flex;
    }

    &__card {
        width: 25%;
    }

    &__card:nth-child(1) {
        margin: 0 40px 0 0;
    }

    &__card:nth-child(2) {
        margin: 0 40px 0 0;
    }

    &__card:nth-child(3) {
        margin: 0 40px 0 0;
    }

    &__logo {
        text-decoration: none;
        margin: 0 0 30px 0;
        position: relative;
    }

    &__logo::before {
        content: "";
        width: 64px;
        height: 56px;
        background-image: url(../img/header_img.png);
        background-repeat: no-repeat;
        position: absolute;
        top: -6px;
        left: 1px;
    }

    &__logo_title {
        font-size: 34px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.04em;
        color: #ffffff;
        margin-left: 64px;
    }

    &__waxom-text {
        line-height: 24px;
        margin: 42px 0 33px 0;
    }

    &__waxom-link {
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #d1d1d1;
        position: relative;
    }

    &__waxom-link::after {
        content: "";
        border: 4px solid transparent;
        border-left: 4px solid #d1d1d1;
        position: absolute;
        top: 5px;
        right: -16px;
        transition: all 0.5s;
    }

    &__title {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
        margin: 10px 0 30px 0;
    }

    &__text-group {
        margin: 0 0 42px 0;
        position: relative;
    }

    &__text-group:hover .footer-top__date {
        font-size: 12px;
        line-height: 20px;
        font-weight: 300;
        color: #ffffff;
    }

    &__text-group:hover .footer-top__text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #c7b299;
    }

    .posts-group::after {
        content: "";
        position: absolute;
        width: 270px;
        height: 2px;
        background-color: #252525;
        top: 90px;
        left: 0;
    }

    .twitter-group::after {
        content: "";
        position: absolute;
        width: 270px;
        height: 2px;
        background-color: #252525;
        top: 110px;
        left: 0;
    }

    &__text {
        margin: 0 0 11px 0;
    }

    &__date {
        font-size: 12px;
        line-height: 20px;
        font-weight: 300;
        color: #363636;
        margin: 0 0 10px 0;
    }

    &__twitter-text_span {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #00bff3;
    }

    &__twitter-text_link {
        text-decoration: none;
        color: #959595;
    }

    .widget-img_group {
        display: flex;
        flex-wrap: wrap;
    }

    &__widget-img {
        width: 48%;
    }

    &__widget-img:nth-child(1) {
        margin: 0 10px 10px 0;
    }

    &__widget-img:nth-child(2) {
        margin: 0 0 10px 0;
    }

    &__widget-img:nth-child(3) {
        margin: 0 10px 0 0;
    }
}

.footer-bottom {
    padding: 45px 0 52px 0;
    background-color: #111111;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__right {
        font-size: 13px;
        line-height: 20px;
        font-weight: 300;
        color: #555555;
    }

    &__span-company {
        color: #959595;
    }

    &__span-link:hover {
        color: #c7b299;
    }

    &__design {
        font-size: 13px;
        line-height: 20px;
        font-weight: 300;
        color: #555555;
    }

    &__span-name {
        color: #959595;
    }
}

@media (max-width: 480px) {
    .header__top {
        margin: 0;

        .header__label {
            display: block;
        }

        .wrap {
            width: 80%;
            height: 50%;
        }
        .burger-menu {
            position: relative;
            width: 40px;
            height: 40px;
            cursor: pointer;
            span {
                display: block;
                line-height: 0;
                width: 40px;
                height: 2px;
                margin-top: 8px;
                background-color: #999;
            }
            .line1 {
                transform-origin: 84% 50%;
            }
            .line3 {
                transform-origin: 84% -50%;
            }
        }
        .burger-menu span {
            transition: all 0.12s ease-in-out;
        }

        .header__list {
            visibility: hidden;
            margin: 0 auto;
            height: 0;
            width: 100%;
            flex-direction: column;
        }
        .header__list-item {
            text-align: center;
            background-color: #ccc;
            margin-top: 2px;
        }

        &__input:checked ~ .header__list {
            visibility: visible;
            height: auto;
        }

        .header__icon {
            display: none;
        }
    }
    .header__bottom {
        display: none;
    }
    .about {
        padding: 25px 0 25px 0;

        &__wrapper {
            flex-wrap: wrap;
            align-items: center;
        }

        &__card {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        &__card:first-child {
            margin: 0 0 30px 0;
        }

        &__card:nth-child(2) {
            margin: 0 0 30px 0;
        }
    }

    .idea {
        display: none;
    }

    .add {
        display: none;
    }

    .project {
        padding: 25px 0 25px 0;

        &__title {
            margin: 0 0 15px 0;
        }

        &__text {
            width: 100%;
            margin: 0 0 15px 0;
        }

        &__list {
            flex-wrap: wrap;
        }

        &__list-link {
            margin: 0px 10px 10px 0;
            padding: 10px 20px;
        }

        &__folio {
            flex-wrap: wrap;
        }

        &__card {
            width: 48%;
        }

        &__figcaption {
            padding: 15px 10px 15px 10px;
        }

        &__card_title {
            font-size: 16px;
        }

        &__card_text {
            font-size: 13px;
        }

        &__figcaption::before {
            border: 10px solid transparent;
            border-bottom: 8px solid #fbfaf8;
            top: -18px;
            left: 14px;
        }

        &__button {
            font-size: 15px;
            font-weight: 500;
            line-height: 9px;
            padding: 15px 15px;
        }

        &__card:hover .project__link-btn {
            left: 33%;
        }

        &__card:hover .project__search-btn {
            left: 56%;
        }
    }

    .video {
        background-size: auto;

        &__link-img {
            margin: 0px auto 20px auto;
        }

        &__text {
            margin: 0px auto 20px auto;
            width: 100%;
        }
    }

    .mobile {
        padding: 25px 0 0 0;

        &__inner {
            padding: 25px 0 0 0;
            background-size: 40%;
        }

        &__title {
            margin: 0 0 15px 0;
        }

        &__text {
            width: 100%;
            margin: 0 0 15px 0;
            font-size: 14px;
            line-height: 24px;
        }

        &__list {
            margin: 0 0 0 115px;
            font-size: 14px;
        }
    }

    .info {
        padding: 25px 0 25px 0;

        &__inner {
            flex-wrap: wrap;
            padding: 0;
        }

        &__card {
            width: 19%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        &__svg_icon {
            margin: 0 0 20px 0;
        }

        &__figure {
            margin: 0 0 20px 0;
            font-size: 32px;
            line-height: 18px;
        }

        &__text {
            font-size: 8px;
            line-height: 17px;
            margin: 0 0 20px 0;
        }
    }

    .posts {
        padding: 25px 0 25px 0;

        &__title {
            margin: 0 0 20px 0;
        }

        &__text {
            font-size: 15px;
            line-height: 26px;
            margin: 0px 0 20px 0;
        }

        &__content {
            flex-direction: column;
            align-items: center;
        }

        &__card {
            width: 81%;
        }

        &__card:first-child {
            margin-bottom: 20px;
        }

        &__card:nth-child(2) {
            margin-bottom: 20px;
        }

        &__figcaption {
            padding: 20px;
        }

        &__card-title {
            margin: 0 0 10px 0;
        }

        &__card-text {
            margin: 0 0 10px 0;
        }
    }

    .sponsors {
        margin: 25px 0 0 0;
        padding: 70px 0;

        &__inner {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__link {
            width: 48%;
        }

        &__link:nth-child(1) {
            margin: 0 0 30px 0;
        }

        &__link:nth-child(2) {
            margin: 0 0 30px 0;
        }

        &__img {
            width: 100%;
        }
    }

    .footer-top {
        padding: 25px 0;
        font-size: 12px;

        &__inner {
            flex-direction: column;
            text-align: center;
        }

        &__card {
            width: 100%;
            padding: 15px;
        }

        &__card:nth-child(1) {
            margin: 0;
        }

        &__card:nth-child(2) {
            margin: 0;
        }

        &__card:nth-child(3) {
            margin: 0;
        }
        &__logo::before {
            left: -84px;
        }

        &__waxom-text {
            margin: 25px 0 20px 0;
        }

        &__title {
            margin: 0px 0 15px 0;
        }

        &__text-group {
            margin: 0 0 30px 0;
        }

        .posts-group::after {
            content: "";
            position: absolute;
            width: 390px;
            height: 2px;
            background-color: #252525;
            top: 65px;
            left: 0;
        }

        .twitter-group::after {
            content: "";
            position: absolute;
            width: 390px;
            height: 2px;
            background-color: #252525;
            top: 85px;
            left: 0;
        }

        &__text-group:hover .footer-top__text {
            font-size: 12px;
            line-height: 20px;
            font-weight: 300;
            color: #c7b299;
        }
    }

    .footer-bottom {
        padding: 70px 0 20px 0;

        &__inner {
            flex-wrap: wrap;
            text-align: center;
        }

        &__right {
            width: 100%;
            margin: 0 0 40px 0;
        }

        &__design {
            width: 100%;
        }
    }
}
